<template>
  <div>
    <nav class="navbar" :class="isHome ? 'is-home' : 'is-not-home'" role="navigation">
      <div class="navbar-brand header--logo">
        <img v-if="isHome" alt="logo" width="240" height="60" src="/vigigloo-logo.svg" />
        <img v-else alt="logo" width="240" height="60" src="/vigigloo-logo-white.svg" />
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <NuxtLink class="navbar-item" :to="{ path: '/' }"><span>Home</span></NuxtLink>
          <NuxtLink
            class="navbar-item"
            :class="isMagic ? 'router-link-active' : ''"
            :to="{ path: '/generator/gitlab-ci' }"
            ><span>Magic</span></NuxtLink
          >
          <NuxtLink class="navbar-item" :to="{ path: '/documentation' }"
            ><span>Getting started</span></NuxtLink
          >
          <!--           <NuxtLink class="navbar-item" :to="{ path: '/cookbook' }"><span>Cookbook</span></NuxtLink>
          <NuxtLink class="navbar-item" :to="{ path: '/community' }"
            ><span>Community</span></NuxtLink
          > -->
        </div>
      </div>
    </nav>
    <nav v-if="isMagic" class="navbar sub-navbar" role="sub-navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
          <NuxtLink
            v-for="generator in generators"
            :key="generator"
            class="navbar-item has-text-weight-bold"
            :to="{ path: `/generator/${generator}` }"
            ><span>{{ capitalize(generator) }}</span></NuxtLink
          >
        </div>
      </div>
    </nav>
  </div>
</template>

<script setup lang="ts">
import useStrManipulation from '~/composables/useStrManipulation';

const { capitalize } = useStrManipulation();

const generators = ['gitlab-ci', 'docker'];

const route = useRoute();
const isHome = computed(() => route.path === '/' || route.path === '/home');
const isMagic = computed(() => route.path.includes('/generator'));
</script>

<style scoped lang="scss">
.navbar {
  &.is-home {
    background-color: #ffff;
    a.navbar-item {
      color: black;
      &.router-link-exact-active span {
        color: $blue-2;
        border-bottom: 1px solid $blue-1;
      }
    }
  }
  &.is-not-home {
    background: transparent linear-gradient(90deg, $blue-1 15%, $blue-4 100%) 0 0 no-repeat
      padding-box;
    box-shadow: 0 2px 2px #00000029;
  }
  &.sub-navbar {
    background-color: transparent;
    position: absolute;
    top: 63px;
    padding-left: 699px;
    min-height: 40px;
  }
}
.header--logo {
  padding-left: 60px;
  padding-right: 400px;
}

a.navbar-item.router-link-active span {
  border-bottom: 1px solid white;
}
</style>
