<template>
  <h1 class="title is-1">
    <slot />
    <img src="/icons-header_igloo.svg" />
  </h1>
</template>

<style scoped lang="scss">
img {
  height: 3.5rem;
  filter: invert(77%) sepia(31%) saturate(4540%) hue-rotate(137deg) brightness(102%) contrast(110%);
  transform: rotate(-90deg);
}
</style>
