<template>
  <main>
    <div>
      <nav class="menu-list">
        <DocNavigation :navigation="navigationSorted" />
      </nav>
      <div class="content">
        <ContentDoc class="content-doc" />
      </div>
    </div>
  </main>
</template>

<script setup>
import DocNavigation from '../../components/DocNavigation';

const { data: navigation } = await useAsyncData('navigation', () => {
  return fetchContentNavigation();
});

let i = navigation.value[0].children.length;
const navigationSorted = navigation.value[0].children
  .map((obj) => ({ ...obj, position: obj.position || i++ }))
  .sort((a, b) => a.position - b.position);
</script>

<style scoped lang="scss">
.content {
  padding-left: 20%;
}
.menu-list {
  width: 20%;
  float: left;
  padding-right: 1%;
  margin-bottom: 110px;
}
</style>
