<template>
  <label class="checkbox-custom">
    <input
      type="checkbox"
      :checked="modelValue"
      :disabled="disabled"
      @input="emitModelValue($event)"
    />
    <div class="checkbox-custom-checkmark">
      <span>
        <img src="/check.svg" alt="check mark" />
      </span>
    </div>
    <div class="checkbox-custom-label">
      <slot />
    </div>
  </label>
</template>

<script setup lang="ts">
defineProps({
  modelValue: {
    type: Boolean,
    default: false,
  },
  disabled: {
    type: Boolean,
    default: false,
  },
});

const emit = defineEmits(['update:modelValue']);

function emitModelValue(event: Event) {
  emit('update:modelValue', (event.target as HTMLInputElement).checked);
}
</script>
<style scoped lang="scss">
.checkbox-custom {
  display: flex;
  .checkbox-custom-label {
    width: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  input {
    display: none;
    + .checkbox-custom-checkmark {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      span {
        width: 18px;
        height: 18px;
        background: $blue-2 0 0 no-repeat padding-box;
        opacity: 0.2;
        border: none;
        text-align: center;
        img {
          opacity: 0;
          padding: 0 0 1px 2px;
        }
      }
    }
    &:hover + .checkbox-custom-checkmark {
      span {
        background-color: $purple-3;
        opacity: 1;
        img {
          opacity: 1;
        }
      }
    }
    &:hover:checked + .checkbox-custom-checkmark {
      span {
        background-color: $purple-3;
      }
    }
    &:checked + .checkbox-custom-checkmark {
      span {
        background-color: $blue-2;
        opacity: 1;
        img {
          opacity: 1;
        }
      }
    }
    &:disabled + .checkbox-custom-checkmark {
      span {
        background-color: $purple-4;
        opacity: 1;
        cursor: not-allowed;
        img {
          opacity: 0;
        }
      }
    }
    &:disabled:active,
    &:disabled:focus {
      + .checkbox-custom-checkmark {
        background: none;
      }
    }
    &:active,
    &:focus {
      + .checkbox-custom-checkmark {
        width: 40px;
        height: 40px;
        background: $purple-2;
        border-radius: 50%;
      }
    }
  }
}
</style>
