<template>
  <div class="field">
    <label class="label" :for="target">{{ title }}</label>
    <div class="control">
      <slot />
    </div>
  </div>
</template>

<script setup lang="ts">
defineProps({
  title: { type: String, default: '' },
  target: { type: String, default: '' },
});
</script>
