<template>
  <label class="radio-custom">
    <input
      :checked="checked"
      :class="active ? 'is-active' : ''"
      type="radio"
      :name="name"
      :value="modelValue"
      @input="emitModelValue($event)"
    />
    <div class="radio-custom-label">
      <div class="radio-custom-label-checkmark">
        <img src="/check.svg" alt="check mark" />
      </div>
      <div>{{ title }}</div>
    </div>
  </label>
</template>

<script setup lang="ts">
defineProps({
  title: { type: String, default: '' },
  name: { type: String, default: '' },
  modelValue: { type: String, default: '' },
  checked: {
    type: Boolean,
    default: false,
  },
  active: {
    type: Boolean,
    default: false,
  },
});

const emit = defineEmits(['update:modelValue']);

function emitModelValue(event: Event) {
  emit('update:modelValue', (event.target as HTMLInputElement).value);
}
</script>

<style scoped lang="scss">
.radio-custom {
  display: block;
  position: relative;
  margin-bottom: 5px;
  color: $blue-2;
  input {
    display: none;

    + .radio-custom-label {
      display: flex;
      position: relative;
      padding: 22px 24px;
      border-radius: 6px;
      background: $blue-5;
      cursor: pointer;

      .radio-custom-label-checkmark {
        display: inline-block;
        width: 20px;
        height: 20px;
        padding: 2px;
        margin-right: 11px;

        border-radius: 50%;
        background: $blue-1 0 0 no-repeat padding-box;
        opacity: 0.2;
        text-align: center;
        img {
          padding-bottom: 4px;
          opacity: 0;
        }
      }
    }
    &:hover + .radio-custom-label {
      background-color: $purple-5;
      color: $purple-7;
      .radio-custom-label-checkmark {
        background: $purple-6 0 0 no-repeat padding-box;
        opacity: 1;
      }
    }
    &.is-active + .radio-custom-label {
      .radio-custom-label-checkmark img {
        opacity: 1;
      }
    }
    &:hover:checked + .radio-custom-label {
      border-left: 3px solid $purple-7;
      .radio-custom-label-checkmark {
        opacity: 1;
      }
    }
    &.is-active:hover + .radio-custom-label {
      .radio-custom-label-checkmark img {
        opacity: 1;
      }
    }
    &:checked + .radio-custom-label {
      border-left: 3px solid $blue-2;
      .radio-custom-label-checkmark {
        opacity: 1;
      }
    }
  }
}
</style>
