<template>
  <span class="select is-small">
    <select
      :value="value"
      @input="
        $emit('onSelect', $event);
        $emit('update:value', $event.target.value);
      "
    >
      <option v-for="(name, index) of options" :key="`select--${index}`" :value="name">
        {{ name }}
      </option>
    </select>
  </span>
</template>
<script setup lang="ts">
defineProps({
  options: { type: Object, default: () => {} },
  value: { type: String, default: '' },
});
defineEmits(['onSelect', 'update:value']);
</script>
<style scoped lang="scss">
.input.is-small {
  width: auto;
}
</style>
