<template>
  <div>
    <template v-for="(tab, index) of tabs" :key="`radioButton--${index}`">
      <RadioButton
        v-model="tab.name"
        :checked="checkIndexBased ? index === 0 : isActive(tab.name)"
        :active="isActive(tab.name)"
        :title="tab.title"
        name="helper"
        class="radio-container--item"
        @input="$emit('update-tab', $event, tab.name)"
      >
      </RadioButton>
    </template>
  </div>
</template>

<script setup lang="ts">
import type { PropType } from 'vue';
import { CheckboxDataTags } from '~/models/tags';
import RadioButton from '~/components/form/RadioButton.vue';
const props = defineProps({
  tabs: { type: Object as PropType<CheckboxDataTags>, default: () => {} },
  selectedTabs: { type: Array, default: () => [] },
  checkIndexBased: {
    type: Boolean,
    default: false,
  },
});

defineEmits(['update-tab']);

const isActive = (tab: string) => {
  if (props.selectedTabs) {
    return props.selectedTabs.includes(tab);
  }
  return false;
};
</script>
