
@import '../node_modules/bulma/sass/utilities/initial-variables';
@import "../node_modules/bulma/sass/utilities/derived-variables";

$addColors: (
  "blue1":($blue-1, findColorInvert($blue-1)),
  "blue2":($blue-2, findColorInvert($blue-2)),
  "blue3":($blue-3, findColorInvert($blue-3)),
  "blue4":($blue-4, findColorInvert($blue-4)),
  "blue5":($blue-5, findColorInvert($blue-5)),
);
$colors: map-merge($colors, $addColors);

//***************************/
//* FONT                    */
//***************************/
$family-sans-serif: "Roboto", sans-serif;

//***************************/
//* NAV                     */
//***************************/
$navbar-padding-vertical: 0;
$navbar-height: 100px;
$navbar-item-color: white;
$navbar-item-active-color: white;
$navbar-item-hover-color: white;
$navbar-item-hover-background-color: none;

//***************************/
//* TITLES & SUBTITLES      */
//***************************/
$title-color: $blue-2;
$title-weight: bolder;

//***************************/
//* FOOTER                  */
//***************************/
$footer-padding: 32px;

//***************************/
//* INPUT                   */
//***************************/
$input-border-color: $blue-1;
$input-color: $blue-2;

//***************************/
//* INPUT                   */
//***************************/
$input-border-color: $blue-1;
$input-color: $blue-2;

main {
  min-height: 870px;
  padding: 50px 100px 110px 100px;
}

input.input-line {
  width: 121px;
  color: $blue-2;
  border: none;
  border-bottom: 1px solid $blue-1;
  box-shadow: none;
}

input,
.select select {
  font-weight: bolder;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

// Import the rest of Bulma
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass";
