<template>
  <main>
    <TitleLogo>Gitlab-CI</TitleLogo>

    <div class="columns">
      <Configuration
        :project-name="conf.projectName"
        :repository-name="conf.repositoryName"
        :language="conf.language"
        :package-manager="conf.packageManager"
        @set-conf="updateConfData"
      >
        <template #generator>
          <div class="column radio-container">
            <Tab
              check-index-based
              :tabs="tabs"
              :selected-tabs="selectedTabs"
              @update-tab="updateTab"
            />
          </div>
          <div class="column checkbox-container">
            <template v-for="(pipe, pipeIndex) in pipeFragmentRef">
              <CheckboxInput
                v-if="pipe.tab === activeTab"
                :key="`check-box-${pipeIndex}`"
                v-model="pipeFragmentRef[pipeIndex].isSelected"
                :disabled="isDisabled(pipe)"
              >
                <TextContent
                  :selected-value="pipe.selectedOption?.value"
                  :text="pipe.textContent"
                  :options="pipe.options"
                  @input="setOption(pipe, $event)"
                >
                </TextContent>
              </CheckboxInput>
            </template>
            <template v-for="({ name, labelInput }, index) of tabs">
              <label
                v-if="labelInput && isOneHelmPipeSelected() && name === activeTab"
                :key="`label-batch-${index}`"
              >
                {{ labelInput.title }}

                <input
                  :id="labelInput.id"
                  :key="`input-batch-${index}`"
                  v-model="conf[labelInput.target]"
                  class="input is-small"
                />
              </label>
            </template>
          </div>
        </template>
      </Configuration>

      <Doc
        :project-name="conf.projectName"
        :repository-name="conf.repositoryName"
        :content="yamlContent(conf, pipeFragmentRef)"
        :prism-language="PRISM_LANGUAGE.YAML"
      >
        <template v-for="(action, index) in actionsAndConditionsList">
          <li v-if="isActionDisplayed(action)" :key="`list-item-${index}`">
            <!-- eslint-disable-next-line vue/no-v-html -->
            <span v-html="action.textContent" />
          </li>
        </template>
      </Doc>
    </div>
  </main>
</template>

<script setup lang="ts">
import TitleLogo from '~/components/header/TitleLogo.vue';
import Configuration from '~/components/ConfigurationForm.vue';
import Doc from '~/components/DocumentationDisplay.vue';
import Tab from '~/components/form/Tab.vue';
import CheckboxInput from '~/components/form/CheckboxInput.vue';
import TextContent from '~/components/form/TextContent.vue';

import { GitlabConf, PRISM_LANGUAGE } from '~/models/configuration';
import { CheckboxDataTags } from '~/models/tags';
import { configurationTabs } from '~/data/gitlab-ci/configurationTabs';
import { actionsAndConditionsList } from '~/data/gitlab-ci/actionsAndConditionsList';

import useYamlManipulation from '~/composables/useYamlManipulation';
import useStrManipulation from '~/composables/useStrManipulation';
import usePipeFragmentsManipulation from '~/composables/usePipeFragmentsManipulation';
import useUrlLib from '~/composables/useUrlLib';

const { camelize } = useStrManipulation();
const { getQueryParams, useQueryParams } = useUrlLib();

const {
  pipeFragmentRef,
  selectedFilesUuids,
  selectedTabs,
  selectedOptions,
  isActionDisplayed,
  isDisabled,
  isOneHelmPipeSelected,
} = usePipeFragmentsManipulation();

const conf = ref<GitlabConf>(new GitlabConf());

const useFilesFromQuery = (value) => {
  pipeFragmentRef.value.map((element) => {
    if (value.files && value.files.includes(element.uuid)) {
      element.isSelected = true;
      if (element.options && value.options) {
        const selected = element.options.find((elem) => value.options.includes(elem.query));
        element.selectedOption = selected || element.selectedOption;
      }
    } else {
      element.isSelected = false;
    }
    return element;
  });
};

getQueryParams([conf, selectedFilesUuids, selectedOptions]);

useQueryParams(conf);
useQueryParams(selectedFilesUuids, useFilesFromQuery);

const updateConfData = ({ value, target }) => {
  conf.value[camelize(target)] = value;
  if (value === 'Javascript/Deno') {
    conf.value.packageManager = '';
  }
};

const activeTab = ref(configurationTabs[0].name);
const tabs = reactive<CheckboxDataTags>(configurationTabs);
const { yamlContent } = useYamlManipulation();

const setOption = (pipe, event: { target: HTMLInputElement }) => {
  pipe.selectedOption = pipe.options.find((e) => e.value === event.target.value);
};

const updateTab = (event: { target: HTMLInputElement }) => {
  activeTab.value = event.target.value;
};
</script>
<style scoped lang="scss">
.column {
  padding: 0;
}

.checkbox-container {
  background-color: $blue-5;
  padding: 16px;
  overflow-y: auto;
}
</style>
