<template>
  <div class="column content settings-container is-one-quarter">
    <h2 class="title">Configuration</h2>
    <label
      >Expected version of nodeJS :
      <SelectField v-model:value="nodeJSVersion" :options="NODE_VERSION"
    /></label>
    <span
      class="has-tooltip-arrow"
      data-tooltip="We recommend to fix version here, to prevent unanticipated version change"
      >👈</span
    >
    <br />
    <label
      >Distroless :
      <span class="select is-small">
        <select v-model="distroless">
          <option :value="false">no</option>
          <option :value="true">yes</option>
        </select>
      </span>
    </label>
    <span
      class="has-tooltip-arrow"
      data-tooltip="Distroless images are small, faster, with less noise inside, no shell!"
      >👈</span
    >
  </div>
  <div class="column actions">
    <h2 class="title">Actions to do</h2>
    <Doc
      wrapper-class=""
      :has-title="false"
      :framework="true"
      :content="dockerIgnore"
      :prism-language="PRISM_LANGUAGE.IGNORE"
    >
      ⚠️ I should create a `.dockerignore` file to the project's root, with the following content:
    </Doc>
    <Doc
      wrapper-class=""
      :has-title="false"
      :framework="true"
      :content="dockerFile"
      :prism-language="PRISM_LANGUAGE.DOCKERFILE"
    >
      ⚠️ I should create a `Dockerfile` file to the project's root, with the following content:
    </Doc>
  </div>
</template>
<script setup lang="ts">
import { ref, computed } from 'vue';
import { dockerFileTemplate, dockerIgnoreTemplate } from '~/data/docker/nuxt2.ts';
import Doc from '~/components/DocumentationDisplay.vue';
import { NODE_VERSION, PRISM_LANGUAGE } from '~/models/configuration';
import SelectField from '~/components/form/SelectField.vue';

const nodeJSVersion = ref(NODE_VERSION.LTS);
const distroless = ref(true);

const dockerIgnore = dockerIgnoreTemplate();
const dockerFile = computed(() =>
  dockerFileTemplate({ runtimeVersion: nodeJSVersion.value, distroless: distroless.value }),
);
</script>
<style scoped lang="scss">
.settings-container {
  background-color: $blue-5;
  padding: 16px;
  overflow-y: auto;
}
.column.actions {
  padding-left: 15px;
}
</style>
