<template>
  <div class="column">
    <h2 class="title">Interactive configuration</h2>
    <div class="content">
      <p class="block">
        The name of my project is
        <input
          class="input input-line is-small"
          :value="projectName"
          type="text"
          placeholder="Igloo"
          @input="emitUpdate($event, 'project-name')"
        />
        and the part that I'm trying to configure is
        <input
          class="input input-line is-small"
          :value="repositoryName"
          type="text"
          placeholder="api"
          @input="emitUpdate($event, 'repository-name')"
        />.
      </p>

      <template v-if="areTitlesSet">
        <p class="block">
          This part is made in

          <SelectField
            :options="languages"
            :value="language"
            @on-select="emitUpdate($event, 'language')"
          />

          <template v-if="availablePackageManagers(language)">
            and use a package manager :

            <SelectField
              :options="availablePackageManagers(language)"
              :value="packageManager"
              @on-select="emitUpdate($event, 'package-manager')"
            />
            .
          </template>
        </p>
        <div class="columns mt-6 small-gap">
          <slot name="generator" />
        </div>
      </template>
    </div>
  </div>
</template>

<script setup lang="ts">
import { languages, availablePackageManagers } from '~/models/configuration';
import SelectField from '~/components/form/SelectField.vue';

const props = defineProps({
  projectName: { type: String, default: '' },
  repositoryName: { type: String, default: '' },
  packageManager: { type: String, default: '' },
  language: { type: String, default: '' },
});

const emit = defineEmits(['set-conf']);

const areTitlesSet = computed(() => props.projectName && props.repositoryName);

const emitUpdate = ($event, target: string): void => {
  emit('set-conf', { value: $event.target.value, target });
};
</script>

<style scoped lang="scss">
.columns.small-gap {
  gap: 5px;
}
</style>
