<script setup lang="ts">
defineProps({
  navigation: {
    type: Object,
    default: () => ({}),
  },
  keyPrefix: {
    type: String,
    default: 'Nav',
  },
});
</script>
<template>
  <ul>
    <template v-for="(b, i) in navigation">
      <li v-if="b.children" :key="`${keyPrefix}-${i}`">
        <NuxtLink class="disabled">
          {{ b.title }}
        </NuxtLink>
        <DocNavigation :key-prefix="`${keyPrefix}-${i}`" :navigation="b.children" />
      </li>
      <li v-else-if="b.title" :key="`${keyPrefix}-${i}-title`">
        <NuxtLink :to="b._path">{{ b.title }}</NuxtLink>
      </li>
    </template>
  </ul>
</template>
<style scoped lang="scss">
.menu-list a {
  &.router-link-active {
    background-color: #009fe3;
    color: white;
  }
  &.disabled {
    font-weight: bold;
    &:hover {
      background-color: none;
    }
  }
}
</style>
