<template>
  <div>
    <!-- eslint-disable-next-line vue/no-v-html -->
    <pre :class="languageClass"><code :class="languageClass" v-html="highlighted"></code></pre>
  </div>
</template>

<script lang="ts" setup>
import Prism from 'prismjs';
import 'prismjs/components/prism-json';
import 'prismjs/plugins/toolbar/prism-toolbar';
import 'prismjs/plugins/line-numbers/prism-line-numbers';
import 'prismjs/plugins/custom-class/prism-custom-class';
import 'prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard';
import 'prismjs/components/prism-yaml';
import 'prismjs/components/prism-ignore';
import 'prismjs/components/prism-docker';
import 'prismjs/themes/prism.css';

const props = defineProps<{
  content: string;
  language: string;
}>();

const languageClass = computed(() => `language-${props.language}`);
onMounted(() => {
  Prism.highlightAll();
});

const highlighted = computed(() =>
  Prism.highlight(props.content, Prism.languages[props.language], props.language),
);
</script>
