<template>
  <footer class="footer">
    <div class="content">
      <NuxtLink class="text-left" :to="{ path: '/legal-notice' }">
        <span>Legal notice</span>
      </NuxtLink>
    </div>
  </footer>
</template>

<style scoped></style>
