<template>
  <div>
    <HeaderTemplate />
    <slot />
    <FooterTemplate />
  </div>
</template>

<script>
import HeaderTemplate from '~/components/header/HeaderTemplate';
import FooterTemplate from '~/components/footer/FooterTemplate';

export default {
  name: 'MainLayout',
  components: {
    HeaderTemplate,
    FooterTemplate,
  },
};
</script>

<style>
.columns:first-of-type {
  gap: 1.5rem;
}
.interactive input {
  border: 0;
  border-bottom: 1px solid;
}
</style>
