<template>
  <main>
    <h1 class="title">Legal information</h1>
    <div class="content">
      <p>
        In accordance with the provisions of clauses 6-III and 19 of the French Digital Economy
        Confidence legislation (loi pour la Confiance dans l'Économie Numérique,) we hereby inform
        you that:
      </p>
      <p>
        This website, vigigloo.fr, and all of his subdomains (hereafter referred to as the
        ‘Website’) is published by:
      </p>
      <p>
        Qonfucius, under trademark Qongzi, Whose registered office is 231 rue Saint-Honoré, 75001
        Paris Tel.: +33 9 80 80 80 16 Registered in the Paris RCS register of companies as number
        834 226 979 Intracommunity VAT number: FR51834226979
      </p>
      <p>Electronic mail address: <a href="contact@qongzi.fr">contact@qongzi.fr</a></p>
      <p>
        The Website publisher is the Chief Executive Officer of Qonfucius, Gaël Demette. The Website
        is hosted by: SCALEWAY SAS BP 438 75366 PARIS CEDEX 08 FRANCE
      </p>
    </div>

    <h1 class="title">Intellectual property</h1>
    <div class="content">
      <p>
        All parts of this Website are subject to French legislation, particularly in respect of
        intellectual property and personal data, and to all applicable international legislation.
      </p>
      <p>
        The data, pictograms, icons, photographs, images, text, video sequences, whether animated,
        accompanied by audio or otherwise, and all other components of the Website are protected by
        industrial and/or intellectual property rights owned by Atout France, or are reproduced and
        represented by Atout France with permission of their owners.
      </p>
      <p>
        Any reproduction, representation, adaptation, translation and/or modification, whether in
        part or in full, or any transfer by means of any process whatsoever, is prohibited unless
        permission has been expressly granted by Atout France in advance and in writing. Any such
        act would constitute counterfeiting within the meaning of clauses L.335-2 and subsequent of
        the French Intellectual Property Code.
      </p>
      <p>
        The copying of these copyrighted materials to a printed medium for private use is permitted
        in accordance with clause L.112-5 of the French Intellectual Property Code.
      </p>
    </div>
  </main>
</template>
